@media (min-width: 640px) {
  /* body {
    /* overflow-x: hidden; */
  /* } */
  .desktop-div {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .hero {
    margin-bottom: 16%;
    display: flex;
  }

  .hero-section {
    width: 52%;
  }
  img {
    inline-size: 79%;
    object-fit: cover;
    top: -8%;
    right: -30%;
    position: absolute;
  }
  .courses-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(18rem, 1fr));
    gap: 1rem;
    align-content: center;
  }
  .introduction-div {
    margin: auto 0 auto 0;
    /*  make a square */
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
  }
  .subsection-header {
    padding: 12% 0%;
  }
}
@media (min-width: 1000px) {
  .btn {
    font-size: clamp(2rem, 1rem + 0.5vw, 3rem);
  }
  .hero-section {
    gap: clamp(2rem, 2rem + 1vw, 4rem);
  }
}
@media (min-width: 1200px) {
  .courses-section {
    grid-template-columns: repeat(3, minmax(18rem, 1fr));
  }
  p {
    font-size: clamp(2rem, 2rem + 0.5vw, 5rem);
  }

  .course .link {
    font-size: clamp(1rem, 1rem + 1vw, 4rem);
  }
}
@media (min-width: 1800px) {
  .main-header {
    font-size: clamp(6rem, 6rem + 1.5vw, 10rem);
  }
}
@media (min-width: 2100px) {
  .site-banner {
    padding: 3% 11% 3% 6%;
  }

  .footer {
    padding: 3% 11% 3% 6%;
  }
}
