@media (min-width: 640px) {
  /* body {
    /* overflow-x: hidden; */
  /* } */
  .desktop-div {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .hero {
    margin-bottom: 16%;
    display: flex;
  }

  .hero-section {
    width: 52%;
    display: flex;
  }
  img {
    inline-size: 79%;
    object-fit: cover;
    top: -8%;
    right: -30%;
    position: absolute;
  }
  .courses-section {
    display: grid;
    grid-template-columns: repeat(2, minmax(18rem, 1fr));
    gap: 1rem;
    align-content: center;
  }
  .introduction-div {
    margin: auto 0 auto 0;
    /*  make a square */
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
  }
  .subsection-header {
    padding: 12% 0%;
  }
}
@media (min-width: 1200px) {
  .courses-section {
    grid-template-columns: repeat(3, minmax(18rem, 1fr));
  }
}
