@media (min-width: 640px) {
  /* body {
    /* overflow-x: hidden; */
  /* } */
  .desktop-div {
    position: relative;
  }
  .hero {
    margin-bottom: 16%;
    display: flex;
  }

  .hero-section {
    width: 52%;
    display: flex;
  }
  img {
    inline-size: 79%;

    object-fit: cover;

    top: 6%;
    right: -30%;

    position: absolute;
  }
  .courses-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .subsection-header {
    padding-top: 18%;
  }
}
@media (min-width: 1000px) {
  .courses-section {
    grid-template-columns: repeat(3, 1fr);
  }
}
